/* css for index page */
body {
  font-family: Arial, sans-serif;
  background-color: #a4eae2;
  margin: 0;
  padding: 8px;
  color: #2ba650;
}

h1 {
  color: #00663f;
}

.contentImg {
    width: 100px;
    height: auto;
}

#outputResult {
  font-size: 28px;
  color: #3700ff;
}